body {
	font-family: "Microsoft JhengHei", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}



h2, h3{

	margin-top: 30px;
	color: #3A87AD;
	
}

ul, li {
	line-height: 1.5em !important;
}

.section{
  font-size: 1.2em;
}
